.container{
	margin: 0 20px;

	h1{
		text-align: center;
	}

	.content{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;

		.firstChild{
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 70%;
			width: 70%;
			padding-right: 20px;
		}

		.secondChild{
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 25%;
			width: 25%;
			&>div{
				margin-bottom: 20px;
			}
			&>div{
				margin-bottom: 20px;
			}
		}
	}
}