.courses{
	padding: 0 10px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	height: 60px;
	margin: 20px 0;
	background-color: bisque ;
}

.courseList{
	& > * {
		margin-bottom: 25px;
	}
	& > :last-child {
		margin-bottom: 0;
	}
}

